/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  background: #2d2b30;
}

img {
  max-width: 100%;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #FF00FF;
  transition: color .5s ease;
}

a:hover,
a:focus {
  color: #00BFFF;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: rgba(45, 43, 48, 0.8);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
  letter-spacing: 5px;
}


header .name{
  font-size: 3em;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover,
.nav a:focus {
  color: #00BFFF;
}

.main-header {
  text-align: center;
  background: url('../img/concert02_no_text_filter2.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 350px;

  position: relative;
}

.banner-img {
  width: 100%;
  height: 100%;
}

.banner-text { 
  padding: 40px 15px 10px;
  background: rgba(39,0,85,.6);
  height: 100%;
  width: 100%;

  position: absolute; /*styles to lay banner text over header img */
  top: 0;
  z-index: 100;

  display: flex; /* positions .banner-text.container */
  justify-content: center;
  align-items: center;
}


.main-heading,
.tagline {
  letter-spacing: 1px;
}

.main-heading {
  font-size: 2rem;
  color: #00BFFF;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0 0 1em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
 }

.tagline {
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: lighter;
  width: 90%;
  margin: 0 auto;
  color: #7FFFD4;
  border-left: 1px solid #FF00FF;
  border-right: 1px solid #FF00FF;
}





.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px;
}

.name a {
  font-weight: 300;
  color: #00BFFF;
}

.name a:hover,
.name a:focus {
  color: #FF00FF;
}



.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  border-top: 4px solid #00BFFF;
  clear: both;
  transition: border-color .5s ease;
}
.card:hover {
  border-color: #FF00FF;
}


.photo {
  display: block;
  width: 200px;
  height: 0%;
  margin: 0 auto;
}

.information{
  width: 100%;
  text-align: center;
  /*display: inline-block;
  position: absolute;*/
}

.heading {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: normal;
  color: #7FFFD4;
  margin-top: 10px;
}

/* Footer styles */

.main-footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  color: #00BFFF;
}

.main-footer .copyright {
  top: -8px;
  font-size: .75em;
}

.main-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-footer ul li {
  display: inline-block;
}


a.social {
  display: inline-block;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  opacity: .4;
  transition: all .5s;
}

a.social:hover,
a.social:focus {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* footer SVG */

.social-svg {
  fill: #F1F227;
  transition: all .5s ease;
}

.social-svg:hover,
.social-svg:focus {
  opacity: 1;
  transform: scale(1.3) rotate(-8deg);
}

.social-link-desc { /* for getting invisible social icon link text */
  font-size: 0.01rem;
  margin: 0;
  color: transparent;
}

/* Styles for larger screens */
@media screen and (min-width: 768px) {

  .flex {
    margin: auto;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: center;
  }


  .main-header {
    min-height: 470px;
  }

  .main-heading {
    margin: 1em 0 1.5em;
  }

  .tagline {
    width: 18rem;
    margin: auto;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  .card{
    margin: 40px auto;
    padding: 20px 40px 40px;
    width: 80%;
    max-width: 1000px;
  }


  .information{
    text-align: left;
  }

  .main-footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}
