/* Survey page styles */

.container{
  text-align: center;
}
.newsletter{
  text-align: right;

}

.photo {
  width: 60%;
  padding: 10px;
}

form {
  margin: 10px auto;
  text-align: left;
  display: inline-block;
  padding: 10px 20px;
  background: rgba(39,0,85,.2);
  border-radius: 8px;
  color: #7FFFD4;
  font-weight: 300;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: rgba(39,0,85,.7);
  color: #00BFFF;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  transition: all .4s ease;
}

input:focus, 
select:focus,
textarea:focus {
  background-color: rgba(39,0,85,.2);
  color: #fff;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

.survey-fieldset {
  margin-bottom: 0;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #00BFFF;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

br ~ label {
  margin-top: 30px;
}

.number {
  background-color: #FF00FF;
  color: #00BFFF;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

/* Styles for larger screens */
@media screen and (min-width: 768px) {
  .photo{
    width: 40%;
  }

  form {
    max-width: 300px;
  }
}
